*{
    margin: 0;
  }
  
.header{
      height: 100px;
      background-color: rgb(212, 231, 153);
      display: flex;
      justify-content: center;
      align-items: center;
}
  
.header h1{
      color: rgb(15, 15, 16);
      text-align: center;
      font-size: 50px;
}
  
  
body {
      text-align: center;
      font-family: Arial, sans-serif;
}
    
h1 {
    color: #333 
}
.btn{
    background-color: rgb(179, 144, 63);
}

button {
    margin: 12px;
    padding: 12px 18px;
    font-size: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.container{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
    
}
.menu-details{
    border: 0.5px solid rgb(11, 11, 11);
    border-radius: 5px;
    padding: 20px;
    font-weight: 400;
}

.menu-details img{
    width:80%;
    height:70%;
    border-radius: 10%;
    margin:12px 0;
    box-shadow: 10px;
}

.menu-details p{
    font-size: 20px;
    font-weight: 700;
}